:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* #region Header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--ocean);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.item:hover,
.item:focus {
  color: var(--ocean);
}

.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--iris);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--navy-blue);
}

.accent-white {
  color: var(--cloud);
}

.address {
  font-style: normal;
}

.address-list-item {
  font-family: inherit;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
  color: var(--ocean);
}

/* #endregion */

/* #region Hero */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
  display: block;
  min-width: 169px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* #endregion */

/* #region Features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  gap: 24px;
}

.feature-card {
  width: calc((100% - 3 * 24px) / 4);
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* #endregion */

/* #region Team */

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-card-info {
  width: 232px;
  display: flex;
  flex-direction: column;
  padding: 32px 0px;
}

.subtitle-team {
  text-align: center;
}

.text-team {
  text-align: center;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.icon-container {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--ocean);
}

.icon {
  fill: var(--cloud);
}

/* #endregion */

/* #region Portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.portfolio-card:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  background-color: var(--iris);
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay-text {
  transform: translatey(0);
}

.portfolio-card-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* #endregion */

/* #region Footer */

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.copyright {
  color: var(--cloud);
}

.copyright-container {
  max-width: 264px;
  margin-right: 120px;
}

.social-container {
  max-width: 208px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-text {
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.social-container .icon-link:hover,
.social-container .icon-link:focus {
  background-color: var(--green);
}

.form-container {
  margin-left: 80px;
}

.form-text {
  margin-bottom: 16px;
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form {
  display: flex;
  gap: 24px;
}

.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

input::placeholder {
  color: var(--white);
}

.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* #endregion */

/* #region Modal */

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: var(--ocean);
  border: none;
}

.close svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover svg,
.close:focus svg {
  fill: var(--white);
}

.modal-title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-container {
  margin-bottom: 8px;
}

.lable {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.input-container {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: var(--iris);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input-icon {
  fill: var(--iris);
}

.comment-container {
  margin-bottom: 16px;
}

.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: var(--iris);
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox {
  display: none;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  position: relative;
}

.checkbox:checked + .checkbox-label > span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.link {
  color: var(--iris);
  text-decoration: underline;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  margin: 20px auto;
}

/* #endregion */

.section-title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.subtitle {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
}
