:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --grey-bg: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* #region Header */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  display: block;
}

.nav-list-item:hover {
  color: var(--ocean);
}

.nav-list-item:hover::after {
  display: flex;
  flex-direction: column;
  gap: 20px;
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.item:hover,
.item:focus {
  color: var(--ocean);
}

.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--iris);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--navy-blue);
}

.accent-white {
  color: var(--cloud);
}

.address {
  font-style: normal;
}

.address-list-item {
  font-family: inherit;

  letter-spacing: 0.02em;
  color: inherit;
}

.address-list-item:hover,
.address-list-item:focus {
  color: var(--ocean);
}

/* #endregion */

/* #region Hero */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, var(--grey-bg), var(--grey-bg)),
    url("../images/people-office.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
  display: block;
  min-width: 169px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* #endregion */

/* #region Features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  gap: 24px;
}

.feature-card {
  width: calc((100% - 3 * 24px) / 4);
}

.feature-icon {
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* #endregion */

/* #region Team */

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-card-info {
  width: 232px;
  display: flex;
  flex-direction: column;
  padding: 32px 0px;
}

.subtitle-team {
  text-align: center;
}

.text-team {
  text-align: center;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.icon-container {
  background-color: var(--iris);
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  fill: var(--cloud);
}

/* #endregion */

/* #region Portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio-card-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* #endregion */

/* #region Footer */

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.copyright {
  color: var(--cloud);
  max-width: 264px;
}

/* #endregion */

.section-title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.subtitle {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
}
